
//BASE COLOR PALLETE
$black 			: #000000; 
$persian-green 	: #00a99d;
$seashel 		: #f1f1f1;
$lochmara		: #0072bc;
$white			: #ffffff;

//BREAKPOINT
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;

//SIZE
$pixel	: 10px !default;