//@import "compass";
//@import "compass/css3";
//@import "compass/css3/images";

@import "partials/bootstrap/variables";
@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variables";
@import "base/mixins";

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / #header
3. Navigation / #navbar
4. Content / #content
5. Left column / #leftcolumn
6. Right column / #rightcolumn
7. Sidebar / #sidebar
8. RSS / #rss
9. Search / #search
10. Boxes / .box
11. Sideblog / #sideblog
12. Advertisements / .ads
13. Footer / #footer
-------------------------------------------------------------------*/

@import "base/general";


/*==========================================================================
  VIDEO PLAYER
========================================================================== */

.postitem{
	.positem-title{
		font-size:32px;
		font-weight:normal;
		color:white;
		margin-bottom:30px;
	}

}

.postitem-row{
	@include make-row();	
}

.postitem-video{
	@include make-md-column(8);
	.caption{
		background:#272727;

		ul{
			li{
				@include inline-block();
				text-align:center;
				border-right:1px solid #939393;
				a{
					color:#939393;
					@include inline-block();
					padding:5px 15px;
				}
			}
		}
	}
}

.postitem-desc{
	@include make-md-column(8);
}
